@import url('https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    box-sizing: border-box;
    padding: 0;
}
body {
    font-family: "Poppins", serif;
    background-color: rgb(250, 250, 250);
    --blue-light: #7492ff;
    overflow-x: hidden;
}
.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: var(--blue-light);
    color: white;
    font-size: 1.2rem;
    font-weight: 500;
}
.menu a{
    color: white;
    text-decoration: none;
    margin: 10px;
    background: rgb(0, 0, 0);
    padding: 10px 30px;
    border-radius: 100px;
}
.user {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.user-info {
    background-color: rgb(234, 234, 234);
    padding: 20px;
    border-radius: 26px;
}
.user-info h2 {
    font-size: 22px;
    margin-bottom: 15px;
}

.user-info p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 10px;
}
.user-actions h2 {
    font-size: 22px;
    margin-bottom: 15px;
}

.user-actions a {
    display: inline-block;
    padding: 10px 15px;
    margin-right: 10px;
    color: white;
    text-decoration: none;
    background-color: #3498db;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.user-actions a:hover {
    background-color: #2980b9;
}
button{
    font-family: "Poppins", serif;
    margin:20px 0;
    padding: 10px 50px;
    border-radius: 100px;
    border: solid 1px;
}