.overlay{
    display: inline;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    color: rgba(0, 0, 0, 0);
    width: 100%;
    height: 100%;
    z-index: 91;
    display: none;
}
.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    display: none;
    z-index: 92;
    justify-content: center; 
    align-items: center;
}
.modal form, .modal .modalContent {
    position: relative;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px 50px 40px;
    border-radius: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50vw;
    min-width: 200px;
}
.modal textarea, .modal input {
    outline: none;
    font-family: 'Poppins', sans-serif;
    padding: 10px;
    width: 100%;
    border-radius: 20px;
    border: solid 1px;
}
.modal button{
    padding: 10px 50px;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    border: none;
    border-radius: 17px;
    cursor: pointer;
}
.modal button:nth-child(1){
    background-color: rgba(0, 0, 0, 0.1);
}
.modal button:nth-child(1):hover{
    background-color: rgba(0, 0, 0, 0.2);
    transition: all 0.2s;
}
.modal button:nth-child(2){
    background-color: rgb(12, 145, 0);
    color: white;
}
.modal button:nth-child(2):hover{
    background-color: rgb(10, 122, 0);
    transition: all 0.2s;
}