/* Descargada en https://fonts.google.com/specimen/Poppins?preview.text=RenderCores&query=poppins/ */
/* Licencia SIL OPEN FONT LICENSE - https://rendercores.com/assets/fonts/poppins/OFL.txt */
/* Poppins es una fuente de Indian Type Foundry, Jonny Pinhorn, Ninad Kale */
/* Thin (100) */
@font-face {
    font-family: 'Poppins';
    src: url('../../../assets/fonts/poppins/Poppins-Thin.woff2') format('woff2'),
         url('../../../assets/fonts/poppins/Poppins-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Poppins';
    src: url('../../../assets/fonts/poppins/Poppins-ThinItalic.woff2') format('woff2'),
         url('../../../assets/fonts/poppins/Poppins-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

/* ExtraLight (200) */
@font-face {
    font-family: 'Poppins';
    src: url('../../../assets/fonts/poppins/Poppins-ExtraLight.woff2') format('woff2'),
         url('../../../assets/fonts/poppins/Poppins-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Poppins';
    src: url('../../../assets/fonts/poppins/Poppins-ExtraLightItalic.woff2') format('woff2'),
         url('../../../assets/fonts/poppins/Poppins-ExtraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

/* Light (300) */
@font-face {
    font-family: 'Poppins';
    src: url('../../../assets/fonts/poppins/Poppins-Light.woff2') format('woff2'),
         url('../../../assets/fonts/poppins/Poppins-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Poppins';
    src: url('../../../assets/fonts/poppins/Poppins-LightItalic.woff2') format('woff2'),
         url('../../../assets/fonts/poppins/Poppins-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

/* Regular (400) */
@font-face {
    font-family: 'Poppins';
    src: url('../../../assets/fonts/poppins/Poppins-Regular.woff2') format('woff2'),
         url('../../../assets/fonts/poppins/Poppins-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Poppins';
    src: url('../../../assets/fonts/poppins/Poppins-RegularItalic.woff2') format('woff2'),
         url('../../../assets/fonts/poppins/Poppins-RegularItalic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

/* Medium (500) */
@font-face {
    font-family: 'Poppins';
    src: url('../../../assets/fonts/poppins/Poppins-Medium.woff2') format('woff2'),
         url('../../../assets/fonts/poppins/Poppins-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Poppins';
    src: url('../../../assets/fonts/poppins/Poppins-MediumItalic.woff2') format('woff2'),
         url('../../../assets/fonts/poppins/Poppins-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

/* SemiBold (600) */
@font-face {
    font-family: 'Poppins';
    src: url('../../../assets/fonts/poppins/Poppins-SemiBold.woff2') format('woff2'),
         url('../../../assets/fonts/poppins/Poppins-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Poppins';
    src: url('../../../assets/fonts/poppins/Poppins-SemiBoldItalic.woff2') format('woff2'),
         url('../../../assets/fonts/poppins/Poppins-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

/* Bold (700) */
@font-face {
    font-family: 'Poppins';
    src: url('../../../assets/fonts/poppins/Poppins-Bold.woff2') format('woff2'),
         url('../../../assets/fonts/poppins/Poppins-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Poppins';
    src: url('../../../assets/fonts/poppins/Poppins-BoldItalic.woff2') format('woff2'),
         url('../../../assets/fonts/poppins/Poppins-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}

/* ExtraBold (800) */
@font-face {
    font-family: 'Poppins';
    src: url('../../../assets/fonts/poppins/Poppins-ExtraBold.woff2') format('woff2'),
         url('../../../assets/fonts/poppins/Poppins-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Poppins';
    src: url('../../../assets/fonts/poppins/Poppins-ExtraBoldItalic.woff2') format('woff2'),
         url('../../../assets/fonts/poppins/Poppins-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
    font-display: swap;
}

/* Black (900) */
@font-face {
    font-family: 'Poppins';
    src: url('../../../assets/fonts/poppins/Poppins-Black.woff2') format('woff2'),
         url('../../../assets/fonts/poppins/Poppins-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Poppins';
    src: url('../../../assets/fonts/poppins/Poppins-BlackItalic.woff2') format('woff2'),
         url('../../../assets/fonts/poppins/Poppins-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}